.introduction {
  padding: 30px;
  background-color: #DBE4FF;
  text-align: center;
}

.introduction h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px; /* Đặt khoảng cách giữa ảnh và chữ */
}

.text {
  width: 50%;
  text-align: justify;
  position: relative;
}

.text h1 {
  text-align: center;
  padding-bottom: 20px;

}

.text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.signature {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
}

.signature span {
  font-weight: normal;
  font-style: italic;
}

.signature p {
  margin: 0;
}

.image {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 1140px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .text, .image {
    width: 100%;
  }

  .text {
    margin-bottom: 20px;
    text-align: justify; /* Giữ text-align: justify để căn đều hai bên */
  }

  .signature {
    text-align: right; /* Giữ text-align: right để căn phải chữ ký */
  }
}