.introduction {
  padding: 30px 250px;
  background-color: #DBE4FF;
  text-align: center;
}

.introduction h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* Đảm bảo các phần tử con có chiều cao bằng nhau */
  gap: 50px;
  /* Khoảng cách giữa ảnh và chữ */
}

.text,
.image {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Căn giữa nội dung theo chiều dọc */
}

.text {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Căn giữa nội dung theo chiều dọc */
}

.text h1 {
  text-align: center;
  padding-bottom: 20px;
}

.text h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.text h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.signature {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
}

.signature span {
  font-weight: normal;
  font-style: italic;
}

.signature p {
  margin: 0;
}

.image {
  width: 50%;
  height: auto;
  /* Đặt chiều cao tự động */
  display: flex;
  align-items: center;
  /* Căn giữa ảnh theo chiều dọc */
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Crop ảnh để vừa khung */
  object-position: left center;
  /* Crop ảnh từ phía bên trái */
  border-radius: 10px;
}

@media screen and (max-width: 1500px) {
  .introduction {
    padding: 30px 100px;
    background-color: #DBE4FF;
    text-align: center;
  }
  .content {
    flex-direction: column;
    /* Chuyển sang bố cục cột khi màn hình nhỏ */
    align-items: center;
  }

  .text,
  .image {
    width: 70%;
    height: auto;
    /* Đặt chiều cao tự động khi ở màn hình nhỏ */
  }

  .text {
    margin-bottom: 20px;
    text-align: justify;
  }

  .signature {
    text-align: right;
  }

  /* Giảm kích thước chữ khi màn hình nhỏ hơn 1140px */
  .text h1 {
    font-size: 28px;
    /* Thu nhỏ cỡ chữ */
  }

  .text h2 {
    font-size: 24px;
  }

  .text h3 {
    font-size: 20px;
  }

  .text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1140px) {
  .introduction {
    padding: 30px 200px;
    background-color: #DBE4FF;
    text-align: center;
  }
  .content {
    flex-direction: column;
    /* Chuyển sang bố cục cột khi màn hình nhỏ */
    align-items: center;
  }

  .text,
  .image {
    width: 100%;
    height: auto;
    /* Đặt chiều cao tự động khi ở màn hình nhỏ */
  }

  .text {
    margin-bottom: 20px;
    text-align: justify;
  }

  .signature {
    text-align: right;
  }

  /* Giảm kích thước chữ khi màn hình nhỏ hơn 1140px */
  .text h1 {
    font-size: 28px;
    /* Thu nhỏ cỡ chữ */
  }

  .text h2 {
    font-size: 24px;
  }

  .text h3 {
    font-size: 20px;
  }

  .text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .introduction {
    padding: 30px 100px;
    background-color: #DBE4FF;
    text-align: center;
  }

  .text h1 {
    font-size: 24px;
  }

  .text h2 {
    font-size: 20px;
  }

  .text h3 {
    font-size: 18px;
  }

  .text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {

  /* Giảm kích thước chữ tối đa khi màn hình rất nhỏ (như điện thoại) */
  .text h1 {
    font-size: 20px;
  }

  .text h2 {
    font-size: 18px;
  }

  .text h3 {
    font-size: 16px;
  }

  .text p {
    font-size: 12px;
  }
}