.domestic-tours {
  padding: 550px;
  background-color: #ffffff;
  text-align: center;
}

.domestic-tours h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}

.tours-section {
  padding: 10px 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.tours-section h2 {
  width: fit-content;
  font-size: 30px;
  margin: 20px auto;
}

.tours-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tours-menu button {
  background: none;
  border: none;
  color: #00a99d;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tours-menu button:hover {
  color: #ff678d;
}

.tours-menu button.active {
  color: #ff678d;
  text-decoration: underline;
}

.tours-grid {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}

.tour-item {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%;
  text-align: left;
}

.tour-item img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.tour-content {
  padding: 20px;
}

.tour-content .date,
.tour-content .destination {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.tour-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tour-content .description {
  font-size: 16px;
  margin-bottom: 20px;
}

.continue-reading {
  color: #00a99d;
  text-decoration: none;
  font-size: 16px;
}

.continue-reading:hover {
  text-decoration: underline;
}
.tours-section {
  position: relative; /* Đặt vị trí tương đối để định vị nút bên trong */
}

.back-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.back-button {
  z-index: 9;
  position: relative;
  margin: 30px 90px 30px 30px;
  padding: 10px 20px;
  background-color: #00a99d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #007f7a;
}

@media screen and (max-width: 1140px) {
  .tour-item {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .tour-item {
    width: 100%;
  }
  .back-button {
    padding: 10px;
    font-size: 0; /* Ẩn văn bản */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-button::before {
    content: '←'; /* Biểu tượng mũi tên */
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .tour-item {
    width: 100%;
  }
}

